.swiper-button-next.swiper-button-white {
    display: none;
}
.swiper-button-prev.swiper-button-white {
    display: none;
}
.swiper-pagination.swiper-pagination-bullets{
	display: none;
}
.swiper-container-outer{
	position: relative;
}
@include media-breakpoint-up(md) {
	.swiper-container-outer:after {
	    content: "";
	    width: 200px;
	    height: 100%;
	    top: 0;
	    right: 0;
	    background: #e6e6e6;
	    position: absolute;
	    z-index: 0;
	}
}
.legend{
	color: #535353;
	font-size: 12px;
	font-family: $primary-font;
	div:before{
		content: "";
		width: 25px;
		height: 10px;
		display: inline-block;
    margin-right: 10px;
	}
	.conselling-given:before{
		background-color: #eea039;
	}
	.ifa-distributed:before{
		background-color: #3b8090;
	}
	.weight-measured:before{
		background-color: #ea5c58;
	}
	.imci-counselling:before{
		background-color: #eea039;
	}
	.supplements-distributed:before{
		background-color: #3b8090;
	}
	.child-growth:before{
		background-color: #ea5c58;
	}
}

.box-heading{
	display: inline-block;
	background: #8ec89a;
	font-size: 18px;
	color: #FFF;
	font-weight: normal;
	font-family: $primary-font;
	text-transform: uppercase;
	padding: 0px 12px;
	line-height: 27px;
	margin-left: -15px;
}

.box-heading-main {
	margin-left: 0px;	
}

.view-on-map{
	background: #AAAAAA;
	padding: 3px 10px;
	font-size: 12px;
	color: #FFF;
	width: auto;
	height: auto;
	margin: 0;
	display: inline-block;
	top: 3px;
	right: -10px;
	position: relative;
	z-index: 5;
}
.output-col{
	background-color: #ededed;
}
.outcome-col{
	background: #e6e6e6;
	&.impact-div{
		background: transparent;
		margin-top: 45px;
		.outcome-progress-col{
			margin-top: 25px;
    	padding-bottom: 15px;
    	@include media-breakpoint-down(md) {
				padding-bottom: 5px;
    	}
		}
		.txt-icon .outcome-icon-dis{
			@include media-breakpoint-up(lg) {
				height: 47px;
			}
		}
	}
	.outcome-progress-col{
		margin-top: 15px;
		@media(min-height: 900px){
			margin-top: 35px;
		}
	}
}

.report-icon{
	margin-top: 0px;
}
.txt-icon {
	.report-icon{
		max-width: 100%;
		width: 36px;
	}
	.outcome-icon-dis{
		width: calc(100% - 50px);
	}
}
.outcome-col{
	.report-heading{
		font-size: 12px;
		line-height: 16px;
		color: #808080;
		margin-bottom:7px;
		.icon{
			font-size: 33px;
			color: #008091;
		}
		h6{
			text-transform: uppercase;
			font-size: 15px;
			color: #666666;
		}
	}
	.outcome-note{
		background: #AAAAAA;
		color: #FFF;
		font-size: 14px;
		line-height: 17px;
		font-weight: 300;
		padding-top: 15px;
		padding-bottom: 15px;
		margin-top: 20px;
	}
}

// map filter
.map-view-container{
	.box-heading{
		width: 100%;
	}
	.filter-col{
		background: #e6e6e6;
	}
	.map-filter{
	  list-style: none;
	  padding: 0;
	  @include media-breakpoint-down(md) {
			margin-bottom: 0;
		}
		li a {
	    background: #e6e6e6;
	    display: block;
	    border-bottom: 1px solid #FFF;
	    font-size: 12px;
	    color: #535353;
	    line-height: 12px;
	    padding: 8px 15px;
	    position: relative;
	    text-decoration: none;
	   	&.active:before{
	   		display: block;
				width: 0;
		    height: 0;
		    content: "";
		    position: absolute;
		    right: 0;
		    border-top: 15px solid transparent;
		    border-bottom: 15px solid transparent;
		    border-right: 15px solid #cccccc;
		    top: 0;
	    }
		}
		li.list-head {
			text-transform: uppercase;
	    color: #FFF;
	    background: #cccccc;
	    padding: 3px 15px;
	    font-size: 15px;
	   	&:last-child{
	   		border: none !important;
	   	}
		}
		li.list-head.green {
	    background: #8ec89a;
	    color: #FFF;
		}
		&.outcome{
			li{
				color: #e6e6e6;
				&.list-head {
			    background: #e6e6e6;
			    color: #666666;
			    border-bottom: 1px solid #FFF;
			    &.green {
				    background: #8ec89a;
				    color: #FFF;
					}
				}
			}
		}
	}
	div#overdiv {
    position: absolute;
    bottom: 15px;
    right: 3px;
    color: #535353;
    font-size: 11px;
    background: #ededed;
    padding: 15px 20px;
	}
	div#overdiv .legend-text {
	  display: block;
	}
	div#overdiv .legend-text:before {
    content: "";
    display: inline-block;
    width: 25px;
    height: 10px;
    margin-right: 10px;
    background: #FFF;
	}
	div#overdiv span#low-text:before {
	  background: #b1eed5;
	}
	div#overdiv span#avg-text:before {
	  background: #81ddc6;
	}
	div#overdiv span#high-text:before {
	  background: #008091;
	}
	div#overdiv span#vhigh-text:before {
	  background: #0c4a60;
	}
}

.map-wrapper {
	@include media-breakpoint-up(sm) {
		height: 422px;
	  margin-top: -29px;
	}
	@include media-breakpoint-up(md) {
	  height: calc(100vh - 70px);
	  margin-top: -29px;
	}
	@include media-breakpoint-up(lg) {
	  height: 550px;
	  height: calc(100vh - 70px);
	}

}


// input
.input-wrapper{
	background: #e0e0e0;
	background: transparent;
	.input-wrapper-inner{
		background: #e0e0e0;
		padding: 0 15px;
	}
	.box-heading{
		margin-bottom: 20px;
	}
	.input-box{
		margin-bottom: 30px;
			h6{
				font-size: 15px;
				color: #666666;
			}
	}
	.input-box.input-reporting div {
    margin-bottom: 5px;
    span.report-lable {
		    width: 100%;
		    display: inline-block;
		}

		span.yes, span.no {
		    width: 44px;
		    background: #fcb942;
		    color: #FFF;
		    height: 30px;
		    display: inline-block;
		    line-height: 30px;
		    text-align: center;
		    font-size: 14px;
		}

		span.no {
		    background: #999999;
		}
	}
	.input-training, .input-qa, .input-supply-management, .input-reporting{
		span.number {
		    font-size: 27px;
		    font-weight: 300;
		    color: #008091;
		    display: inline-block;
		    margin-right: 10px;
		    width: 24%;
				max-width: 50px;
		    min-width: 50px;
		    @include media-breakpoint-up(xl) {
			    width: 32%;
          vertical-align: top;
			  }
		}

		span.number-txt {
        margin-top: 8px;
		    display: inline-block;
		    width: 68%;
		    font-size: 12px;
		    color: #666666;
		    line-height: 15px;
		}
	}
	.input-trainning-inner{
		@include media-breakpoint-up(xl) {
			padding-left: 50px;
		}

	}
	.input-supply-management{
		span.number{
			width: 24%;
		}
	}
	.input-qa{
		span.number {
			width: 24%;
      vertical-align: top;
			@include media-breakpoint-up(xl) {
	    	width: 20%;
			}
		}

		span.number-txt {
			width: 53%;
      vertical-align: top;
	  }
	}
}
#maternal-health, #child-health{
	font-size: 10px !important;
  width: 100%;
  max-width: 285px; 
  margin: 7px auto;
  position: relative;
  @media(min-height: 900px){
		margin-top: 5px;
		margin-bottom: 15px;
  }
}
#maternal-health:before, #child-health:before{
  background: url('../images/maternal.png') no-repeat center bottom;
  background-size: contain;
	content: "";
	width: 40px;
	height: 60px;
	top: 50%;
	left: 50%;
	display: block;
	position: absolute;
	margin-left: -20px;
	margin-top: -62px;
}
#child-health:before{
  background: url('../images/baby.png') no-repeat center bottom;
  background-size: contain;
  background-position: center bottom;
}
div#zoomctrl div{
	background-color: transparent !important;
}
.rbc-label-start{
  fill: #FFF;
  font-weight: normal;
  font-size: 7px;
  transform: translateX(-6px) translateY(0.2px);
}


// dashboar center icon fade in

.center-icon-animation, #maternal-health:before, #child-health:before{
  animation: animationFramesCenterIcon ease-in-out 1s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  animation-fill-mode: forwards; /*when the spec is finished*/
  -webkit-animation: animationFramesCenterIcon ease-in-out 1s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-fill-mode: forwards; /*Chrome 16+, Safari 4+*/ 
  -moz-animation: animationFramesCenterIcon ease-in-out 1s;
  -moz-animation-iteration-count: 1;
  -moz-transform-origin: 50% 50%;
  -moz-animation-fill-mode: forwards; /*FF 5+*/
  -o-animation: animationFramesCenterIcon ease-in-out 1s;
  -o-animation-iteration-count: 1;
  -o-transform-origin: 50% 50%;
  -o-animation-fill-mode: forwards; /*Not implemented yet*/
  -ms-animation: animationFramesCenterIcon ease-in-out 1s;
  -ms-animation-iteration-count: 1;
  -ms-transform-origin: 50% 50%;
  -ms-animation-fill-mode: forwards; /*IE 10+*/
 	animation-delay: 2s;
 	-webkit-animation-delay: 2s;
 	-moz-animation-delay: 2s;
 	-o-animation-delay: 2s;
 	-ms-animation-delay: 2s;
 	opacity: 0;
}

@keyframes animationFramesCenterIcon{
  0% {
    opacity:0;
    transform:  translate(0px,-10px)  ;
  }
  100% {
    opacity:1;
    transform:  translate(0px,0px)  ;
  }
}

@-moz-keyframes animationFramesCenterIcon{
  0% {
    opacity:0;
    -moz-transform:  translate(0px,-10px)  ;
  }
  100% {
    opacity:1;
    -moz-transform:  translate(0px,0px)  ;
  }
}

@-webkit-keyframes animationFramesCenterIcon {
  0% {
    opacity:0;
    -webkit-transform:  translate(0px,-10px)  ;
  }
  100% {
    opacity:1;
    -webkit-transform:  translate(0px,0px)  ;
  }
}

@-o-keyframes animationFramesCenterIcon {
  0% {
    opacity:0;
    -o-transform:  translate(0px,-10px)  ;
  }
  100% {
    opacity:1;
    -o-transform:  translate(0px,0px)  ;
  }
}

@-ms-keyframes animationFramesCenterIcon {
  0% {
    opacity:0;
    -ms-transform:  translate(0px,-10px)  ;
  }
  100% {
    opacity:1;
    -ms-transform:  translate(0px,0px)  ;
  }
}
.table th.has-border, .table td.has-border{
	border: 1px solid #b1b1b1;
}

.tab-outer-wrapper{
	background: #ededed;
	.standard-wrapper-inner{
		padding: 0px;
	}
	.nav-tabs .nav-link {
	    font-size: 15px;
	    color: #666;
	    font-weight: 500;
	}

	.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
	    border: none;
	    border-radius: 0;
	    background: #ffffff;
	    color: #666;
	}

	.tab-content > .active {
	    background: #FFF;
	}
	.nav-tabs {
    border: none;
	}

	div#myTabContent {
	}

	.nav-tabs .nav-item {
	    margin-bottom: -3px;
	    border-color: transparent;
	}

	.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
	    border-color: transparent;
	}
	.table-striped tbody tr:nth-of-type(odd) {
	   background-color: rgb(255, 255, 255);
	}
	.table th{
		font-weight: 500;
	}
}

.axis path, .axis line {
    fill: none;
    stroke: #fff;
  }
.axis text {
  	font-size: 13px;
  }
.bar {
    fill: #8CD3DD;
  }
/*.bar:hover {
    fill: #F56C4E;
  }*/

svg{
	overflow-y: scroll !important;
}
svg text.label {
  fill: #959595;
  font-size: 0.85em;  
  font-weight: 400;
  text-anchor: middle;
}
.low{
	fill: #f2b4a0;
}
.mid{
	fill: #f7e15a;
}
.high{
	fill: #eea039;
}
.vhigh{
	fill: #ea5c58;
}


.barchart-title{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0px;
}

.map-title {
    position: relative;
    text-align: center;
    z-index: 3;
    top: -28px;
    color: #585858;
    font-size: 16px;
}

text.rbc-center-text {
    font-weight: 500;
}

.map-hint {
    position: relative;
    text-align: center;
    z-index: 2;
    color: #585858;
    font-size: 14px;
    top: -10px;
}

.map-hint {
    opacity:1;
    transition:opacity 500ms;
}
.map-hint.slowhide {
    opacity:0;
}