
// header
.header-full{
	bottom: auto;
	background: $red;
	.navbar.navbar-red{
		.navbar-brand{
			margin-right: 30px;
			padding-left: 16px;
    	padding-top: 0px;
		}
		.navbar-toggler, .navbar-toggler:focus{
			border: none;
			outline: none;
		}
		li {
			@include media-breakpoint-up(lg) {
				border-right: 1px solid $darkRed;
				a{
					position: relative;
					padding-left: 50px;
					padding-right: 50px;
				}
			}
			&:first-child{
				@include media-breakpoint-up(lg) {
					border-left: 1px solid $darkRed;
				}
			}
			&.active{
				a:before{
					@include media-breakpoint-up(lg) {
						width: 0; 
						height: 0; 
						border-left: 5px solid transparent;
						border-right: 5px solid transparent;
						border-bottom: 5px solid #ededed;
						content: "";
						bottom: 0;
						left: 50%;
						margin-left: -3px;
						position: absolute;
					}
				}
				@include media-breakpoint-down(md) {
					a{
						background: #fda69c;
					}
				}
			}
			&.dropdown .dropdown-menu .dropdown-item:before{
				display: none;
			}
			&.dropdown .dropdown-menu .dropdown-item.active:before{
				display: block;
			}
			a{
				position: relative;
				text-transform: uppercase;
				color: $white;
				font-size: 1rem;
				@include media-breakpoint-up(lg) {
					padding-top: 23px;
			    padding-bottom: 13px;
			    padding-left: 50px;
			    padding-right: 57px;
				}
			}
			@include media-breakpoint-down(md) {
				.nav-link{
					padding-left: 10px;
					padding-right: 10px;
				}
			}
			// dropdown
			.dropdown-menu{
				background: #f45d57;
				border-radius: 0;
				margin-top: 0px;
				width: 100%;
				border: none;
				padding: 0;
				a{
					border-bottom: 1px solid #cd4031;
				}
				.dropdown-item:hover, .dropdown-item:focus, .dropdown-item.active, .dropdown-item:active{
					background: #fda69c;
				}
			}
			.dropdown-toggle:after{
				display: none;
			}
		}
	}
	.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active, 
	.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active{
		color: $white;
	}
}

// .navbar-light .navbar-nav .active > .nav-link,

// .navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active