.custom-select{
	background-image: url('../images/select-img.png');
	background-position: right center;
	background-size: auto 100%;
	-webkit-appearance: none;
	height: 25px;
	padding: 0 10px;
	font: 12px/25px $primary-font;
	border-radius: 0;
	&:focus{
		border-color: transparent;
		box-shadow: none;
	}
}
.side-filter-div{
	padding: 15px;
	padding-top: 32px;
	height: 100%;
	background: #e6e6e6;
	.input-group{
		margin-bottom: 10px;
	}
	.submit-input-group{
		margin-top: 20px;
	}
	.btn{
		background: #ffa69c;
		color: #FFF;
		border-color: transparent;
		font-size: 12px;
    padding: 3px;
	}
	.chart-legend{
		position: absolute;
		bottom: 10px;
		left: 0;
		color: #535353;
		font-size: 11px;
		width: 100%;
		padding: 0 15px;
		.dghs:before{
			background-color: #81ddc6;
		}
		.dgfp:before{
			background-color: #008091;
		}
	}
}
.report-col{
	.tab-col-title{
		margin-bottom: 25px;
	}
}
.report-list{
	list-style: none;
	padding: 0;
	li{
		display: block;
		width: 100%;
		overflow: hidden;
		margin-bottom: 10px;
	}
	img {
	}
	a, a:hover{
		text-decoration: none;
	}
	span.report-title {
	    color: #008091;
	    display: block;
	    font-size: 12px;
	    text-transform: uppercase;
	    line-height: 16px;
	}

	span.date {
	    display: block;
	    color: #666666;
	    font-size: 12px;
	}

	span.date {
	    line-height: 16px;
	}

}
.bargraph-div{
	background: #FFF;
}