// @import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "./bootstrap-4.1.0/scss/bootstrap.scss";
// custom varriables
@import "./varriables.scss";

@import "./header.scss";
@import "./progressbar.scss";

@import "./dashboard.scss";

@import "./swiper-tab.scss";
@import "./output.scss";

@import "./google-map.scss";

// design test need to remove
@media (min-width: 1200px){
	.container {
	    max-width: 1600px;
	}
	// .right-bg:before {
	//     content: "";
	//     background: #e6e6e6;
	//     top: 0;
	//     right: 0;
	//     height: 100%;
	//     width: 20%;
	//     position: absolute;
	// }
	// .container.right-bg {
	//     position: relative;
	//     padding: 0;
	// }
}

@media screen and (min-width: 900px) and (min-height: 800px) {
	// .bottom-footer {
	// 	position: absolute;
	// 	bottom: 0;
	// 	left: 0;
	// 	width: 100%;
	// }
	.swiper-wrapper .output-col, .filter-col, #mapdiv{
		min-height: 70vh;
	}
	#maternal-health, #child-health{
		max-width: 350px;
	}

}
