.swiper-tab{
	background: $white;
	.swiper-pagination{
		display: none;
	}
}
.swiper-tab-nav{
	li a {
    background: #959595;
    height: 27px;
    line-height: 27px;
    display: inline-block;
    padding: 0 10px;
    font-size: 14px;
    color: #FFF;
    text-transform: uppercase;
    text-decoration: none;
		&.active {
		    background: #ffa69c;
		    position: relative;
		    &:before{
		    	width: 0;
			    height: 0;
			    border-left: 5px solid transparent;
			    border-right: 5px solid transparent;
			    border-bottom: 5px solid #ededed;
			    content: "";
			    bottom: 0;
			    left: 50%;
			    margin-left: -3px;
			    position: absolute;
		    }
		}
	}
	.list-inline-item:not(:last-child) {
	    margin: 0px;
	}
}
.tab-col-title{
	color: #f45e58;
	font-size: 14px;
	text-transform: uppercase;
	margin-top: 5px;
	line-height: 13px;
}
.tab-col-subtitle{
	color: #a0a0a0;
	font-size: 14px;
	margin-bottom: 10px;
}

.swiper-tab-nav .list-inline {
    margin-bottom: 0;
}

.tab-content{
	.swiper-slide {
	    padding: 12px 15px;
	    .pie-chart .slice:first-child text {
			    fill: #FFF !important;
			}
			.pie-chart{
				margin-top: 15px;
			}
			.area-chart{
				height: 300px;
				@include media-breakpoint-up(md) {
					width: 87%;
				}
			}
			.output-area-chart{
				height: 200px;
				@include media-breakpoint-up(md) {
					width: 87%;
				}
			}
	}
} 
