.transparent-accordion{
	.card {
	    background: transparent;
	    border: none;
	}

	.card-header {
	    background: transparent;
	    border: none;
	    padding: 0px 0px;
	}

	
	button.btn.btn-link {
	    width: 100%;
	    text-align: left;
	    color: #333;
	    font-weight: bold;
	    text-decoration: none;
	}
}
