/* /* For side filter selector in platform*/
.side-filter-div {
    background: #D6D6D6;
    padding: 15px;
    height: 100%;
}

/* /* For bargraph border*/
.bargraph-div {
    border: 1px solid #787878;
}

/* Removing colpadding */
.row-no-padding
  [class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

.progress-bar-h, .progress-bar-v{
      width: 300px;
      height: 50px;
      background: #CCC;
      display: block;
      word-wrap: unset;
      overflow: hidden;
      -webkit-transition: all 0.5s ease-out;
      -o-transition: all 0.5s ease-out;
      transition: all 0.5s ease-out;
      color: #333;
    }
    .progress-bar-h .current, .progress-bar-v .current{
      width: 80%;
      height: 100%;
      background: rgba(0, 204, 255, 1);
      display: block;
      float: left;
      display: flex;
      align-self: center;
      text-align: center;
      justify-content: center;
      align-items: center;

    }
    .progress-bar-h .goal, .progress-bar-v .goal{
        width: 20%;
        height: 100%;
        background: #BBB;
        float: right;
        display: flex;
        align-self: center;
        text-align: center;
        justify-content: center;
        align-items: center;

    }
    .progress-bar-v{
      width: 80%;
      height: 300px;
      min-width: 80px;
      max-width: 100px;
      margin: 0 auto;
      margin-bottom: 30px;
    }
    @media(min-width: 768px){
     .progress-bar-v{
        width: 90%;
        margin: 0;
        max-width: 100%;
      } 
    }
    .progress-bar-v .current{
      width: 100%;
      height: 80%;
    }
    .progress-bar-v .goal{
      height: 30%;
      width: 100%;

    }
/*
.bar-graph {
  padding: 0;
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 425px;
  margin: 0;
}

.bar-graph li {
  display: block;
  padding: 1.5625rem 0;
  position: relative;
  text-align: center;
  vertical-align: bottom;
  border-radius: 4px 4px 0 0;
  max-width: 20%;
  height: 100%;
  margin: 0 1.8% 0 0;
  -webkit-flex: 1 1 15%;
      -ms-flex: 1 1 15%;
          flex: 1 1 15%;
}

.bar-graph .bar-graph-axis {
  -webkit-flex: 1 1 8%;
      -ms-flex: 1 1 8%;
          flex: 1 1 8%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bar-graph .bar-graph-label {
  margin: 0;
  background-color: none;
  color: #8a8a8a;
  position: relative;
}

@media print, screen and (min-width: 40em) {
  .bar-graph .bar-graph-label:before, .bar-graph .bar-graph-label:after {
    content: "";
    position: absolute;
    border-bottom: 1px dashed #8a8a8a;
    top: 0;
    left: 0;
    height: 50%;
    width: 20%;
  }
}

@media print, screen and (min-width: 40em) and (min-width: 64em) {
  .bar-graph .bar-graph-label:before, .bar-graph .bar-graph-label:after {
    width: 30%;
  }
}

@media print, screen and (min-width: 40em) {
  .bar-graph .bar-graph-label:after {
    left: auto;
    right: 0;
  }
}

.bar-graph .percent {
  letter-spacing: -3px;
  opacity: 0.4;
  width: 100%;
  font-size: 1.875rem;
  position: absolute;
}

@media print, screen and (min-width: 40em) {
  .bar-graph .percent {
    font-size: 3.875rem;
  }
}

.bar-graph .percent span {
  font-size: 1.875rem;
}

.bar-graph .description {
  font-weight: 800;
  opacity: 0.5;
  text-transform: uppercase;
  width: 100%;
  font-size: 14px;
  bottom: 20px;
  position: absolute;
  font-size: 1rem;
  overflow: hidden;
}

.bar-graph .bar.primary {
  border: 1px solid #1779ba;
  background: linear-gradient(#2196e3, #1779ba 70%);
}

.bar-graph .bar.secondary {
  border: 1px solid #767676;
  background: linear-gradient(#909090, #767676 70%);
}

.bar-graph .bar.success {
  border: 1px solid #3adb76;
  background: linear-gradient(#65e394, #3adb76 70%);
}

.bar-graph .bar.warning {
  border: 1px solid #ffae00;
  background: linear-gradient(#ffbe33, #ffae00 70%);
}

.bar-graph .bar.alert {
  border: 1px solid #cc4b37;
  background: linear-gradient(#d67060, #cc4b37 70%);
}
*/
/*outcome*/
.report-icon{
  max-width: 35px;
  margin-top: -20px;
}
.report-icon img{
  width: 100%;
}

/*global style*/
html{
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11.2px;
  color:#333333;
  line-height:normal;
}
body{
  font-family:'ArialMT', 'Arial';
  font-size: 1.1rem;
}
.h5, h5{
  margin-bottom: 1.7rem;
}
.h3, h3{
  font-size: 1.85rem;
}
.progress-bar-note {
    margin: 1.4rem 0;
}

/*navbar*/
header{
  margin-bottom: 2rem;
}
.navbar-nav{
  font-size: 1.85rem;
}
.navbar-nav .dropdown-menu{
  font-size: 1.6rem;
}
.navbar-nav .dropdown-item{
  min-width: 155px;
}
@media (min-width: 992px){
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 2rem;
  }
}