.target.target-label {
	position: absolute;
	top: 6px;
	left: 0;
	border: 4px solid transparent;
	border-bottom: 4px solid #959595;
}
.target-label:before {
	height: 13px !important;
	margin-top: -13px !important;
	background: #959595 !important;
}
.target-label-text {
	padding-left: 17px;
}